{% extends "layout.html" %}

{% block title %} Inicio - Gestión de profesores {% endblock %}

{% block content %}
    <section>
        {% if clase_actual %}
            <h2 class="title is-3 mb-2">Gestión de mi clase actual</h2>
            <p class="subtitle is-5 has-text-grey">Ahora: {{clase_actual.nombre}}</p>
            <p class="subtitle is-6 has-text-grey">Hasta las {{clase_actual.getHoraFin()}}</p>
            <div class="columns is-multiline mb-6 center">
                <div class="column is-3-desktop is-6-tablet">
                    <div class="box">
                        <div class="has-text-centered">
                            <p class="heading has-text-success">Reservas</p>
                            <p class="title is-3 has-text-success">5</p>
                        </div>
                    </div>
                </div>
                <div class="column is-3-desktop is-6-tablet">
                    <div class="box">
                        <div class="has-text-centered">
                            <p class="heading has-text-warning">Asistencias</p>
                            <p class="title is-3 has-text-warning">24</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if exito %}
                <div class="box is-multiline">
                    <p class="has-text-success is-4">Se ha registrado al paciente {{nombre}} exitosamente</p>
                </div>
            {% endif %}
        {% else %}
            <span></span>
            <h2 class="title is-4 mb-2">Actualmente no hay ninguna clase disponible</h2>
            <p class="subtitle is-6 has-text-grey">Cuando esté transcurriendo una clase, aparecerán los detalles aquí</p>
        {% endif %}
    </section>
    {% if error %}
        <div class="box is-multiline">
            <p class="has-text-danger is-4">Error: {{error}}</p>
        </div>
    {% endif %}
{% endblock %}