<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Lista de alumnos</h1>
        <section>
            <div>
                <form action="{{ url_for('profesor.listado_alumnos') }}" method="get">
                    <label>Buscar:</label>
                    <input type="text" name="busqueda">
                    <button type="submit">Buscar</button>
                </form>
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" onclick="window.location.href='/profesor/listado_alumnos';"></path>
            </div>
            {% if error %}
                <p>{{error}}</p>
            {% endif %}
            {% if lista_de_alumnos %}
                <ul>
                    {% for alumno in lista_de_alumnos %}
                        <li action="{{ url_for('profesor.perfil_alumno', dni=alumno.dni) }}">
                            <p>Nombre y apellido: {{alumno.nombre}} {{alumno.apellido}}</p>
                            <p>DNI: {{alumno.dni}}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </body>
</html>