<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <!--Por acá iría la búsqueda de alumnos, con su correspondiente cruz-->
        <section>
            <h1>Perfil de alumno {{alumno.nombre}} {{alumno.apellido}}</h1>
            <p>DNI {{alumno.dni}}</p>
            <p>Porcentaje de asistencias: {{alumno.porcentaje_asistencias*100}}%</p> <!--Me gustaría meter una barra de progreso acá-->
        </section>
    </body>
</html>