<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/presente_manual.js') }}" defer></script>
        <h1>Registrar manualmente a un paciente:</h1>

            <div id="mensaje_error", nombre="mensaje_error" style="display:none; color: red; border: 1px solid red; padding: 10px; margin-bottom: 15px; border-radius: 5px;">
                <strong>Error:</strong><p id="error", name="error"></p>
            </div>
        
        <form method="post" id="formulario">
            <input required type="text" name="dni" id="dni" maxlength="8" placeholder="Ingrese el DNI sin puntos">
            <button type="submit" value="Enviar">Dar presente</button>
        </form>
    </body>
</html>