{% extends "layout.html" %}

{% block title %} Registro manual a paciente {% endblock %}

{% block content %}
    {% if error %}
        <div style="color: red; border: 1px solid red; padding: 10px; margin-bottom: 15px; border-radius: 5px;">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %}

    <form method="post" action="{{ url_for('profesor.presente_manual') }}">
        <input required type="text" name="dni" id="dni" maxlength="8" placeholder="Ingrese el DNI sin puntos">
        <button type="submit" value="Enviar">Dar presente</button>
    </form>
{% endblock %}