{% extends "layout_profesor" %}

{% block title %} Mis asistencias {% endblock %}

    {% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}"> {% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='js/ver_asistencias.js') }}" defer></script>
    <div>
        <form action="{{ url_for('profesor.ver_asistencias') }}" method="get" id="form-busqueda">
            <div class="buscador_container">
                <label for="busqueda">Buscar:</label>
                <input type="text" name="busqueda" id="busqueda" placeholder="Buscar alumno" {% if busqueda != "" %} value="{{busqueda}} {% endif %}">
                    {% if hay_filtro %}
                        <button type="button", id="limpiar">✕</button>
                    {% endif %}
                <button type="submit">Buscar</button>
            </div>
            <p>Filtrar por</p>
            <div style="display: flex">
                <div style="display: block">
                    <p>Asistencia efectuada</p>
                    <input type="radio" name="estado" id="seleccionar_todos" value="seleccionar_todos" {% if (estado == 'seleccionar_todos') %} checked {% endif %}>Seleccionar todos
                    <input type="radio" name="estado" id="presente" value="presente" {% if estado == 'presente' %} checked {% endif %}>Presente
                    <input type="radio" name="estado" id="ausente" value="ausente" {% if estado == 'ausente' %} checked {% endif %}>Ausente
                </div>
                <div>
                    <p>Fecha: </p><input type="date" name="fecha" id="fecha" {% if fecha != "" %} value="{{fecha}}" {% endif %}>
                </div>
                <div>
                    <p>Ver solo comentarios</p><input type="checkbox" name="solo_comentarios" id="solo_comentarios" {% if solo_comentarios %} checked {% endif %}>
                </div>
            </div>
        </form>
        <div>
            {% if (lista_de_asistencias != []) %}    
                <ul>
                    {% for asistencia in lista_de_asistencias %}
                        <li>
                            <p>{{asistencia.alumno.nombre}} {{asistencia.alumno.apellido}}</p>
                            <p>DNI: {{asistencia.alumno.dni}}</p>
                            <p>Estado en la clase {{asistencia.clase.nombre}} del día {{asistencia.clase.fecha}}: {{asistencia.presencia}}</p>
                            {% if asistencia.comentarios != [] %}
                                <p>Comentarios:</p>
                                {% for comentario in asistencia.comentarios %}
                                    <li>
                                        <p>{{comentario}}</p>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No se han encontrado resultados</p>
            {% endif %}
        </div>
    </div>
{% endblock %}