{% extends "layout.html" %}

{% block title %}Historial de Pagos{% endblock %}

{% block content %}

<h1 class="title is-4 mb-4">Historial de pagos</h1>

{% if pagos or abonos %}

    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Estado</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>

            {% for pago in pagos %}
            <tr>

                <td>
                    {{ pago.fecha_creacion.strftime('%d/%m/%Y') }}
                </td>

                <td>
                    {{ pago.concepto_pago.value.replace('_', ' ').capitalize() }}
                </td>

                <td>
                    {% if pago.estado_pago.name == "COMPLETADO" %}
                        <span class="tag is-success">
                            Completado
                        </span>
                    {% else %}
                        <span class="tag is-warning">
                            Pendiente
                        </span>
                    {% endif %}
                </td>

                <td>
                    ${{ pago.monto_total }}
                </td>

            </tr>
            {% endfor %}

            {% for abono in abonos %}
            <tr>

                <td>
                    {{ abono.fecha_creacion.strftime('%d/%m/%Y') }}
                </td>

                <td>
                    {{ abono.concepto_pago.value.replace('_', ' ').capitalize() }}
                </td>

                <td>
                    {% if abono.estado_pago.name == "COMPLETADO" %}
                        <span class="tag is-success">
                            Completado
                        </span>
                    {% else %}
                        <span class="tag is-warning">
                            Pendiente
                        </span>
                    {% endif %}
                </td>

                <td>
                    ${{ abono.monto_total }}
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

{% else %}

    <div class="notification is-info">
        No tenés pagos registrados todavía.
    </div>

{% endif %}

{% endblock %}