{% extends "layout.html" %}

{% block title %}Configurar Precios de Clases{% endblock %}

{% block content %}

<h1 class="title">Configuración de Precios de Clases</h1>

<div class="notification is-info is-light">
    Desde aquí podés establecer los valores para los distintos tipos de clases que ofrece el sistema.
</div>

<form method="POST" class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Precio Clase Individual</label>
                <div class="control has-icons-left">
                    <input class="input" type="number" name="precio_individual" placeholder="Ej: 7500" value="{{ precio_individual.precio if precio_individual else '' }}" min="1" step="1" required>
                    <span class="icon is-small is-left">$</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Precio Clase Fija</label>
                <div class="control has-icons-left">
                    <input class="input" type="number" name="precio_fija" placeholder="Ej: 5000" value="{{ precio_fija.precio if precio_fija else '' }}" min="1" step="1" required>
                    <span class="icon is-small is-left">$</span>
                </div>
            </div>
        </div>
    </div>

    <button class="button is-primary" type="submit">
        Guardar Precios
    </button>
</form>

{% endblock %}